<div class="cyclical-event-list">
	<div class="added-list-name">__listName__</div>
	<div id="cyclicalEvent_CyclicalEventHasLists___name__">
		<input type="hidden"
			id="cyclicalEvent_CyclicalEventHasLists___name___idCyclicalEvent"
			name="cyclicalEvent[CyclicalEventHasLists][__name__][idCyclicalEvent]"
			value="1" /> <input type="hidden"
			id="cyclicalEvent_CyclicalEventHasLists___name___idCyclicalEvent"
			name="cyclicalEvent[CyclicalEventHasLists][__name__][idCyclicalEvent]" />
		<input type="hidden"
			id="cyclicalEvent_CyclicalEventHasLists___name___idList"
			name="cyclicalEvent[CyclicalEventHasLists][__name__][idList]" value="__idList__"/>
		<div class="element-buttons">
			<i class="fa fa-times remove-element" title="{{ 'Usuń'|trans }}"
				data-placement="left" data-toggle="tooltip"></i>
		</div>
	</div>
</div>